/* styles/ProductManagement.css */

.product-management {
  padding: 20px;
  margin-top: 25px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* position:relative; */
}

.search-input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  overflow-y: scroll;
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
  height: 400px;
}

.ant-card {
  width: 250px;
  height: 400px; /* Fixed height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Add transition for animation */
}

.ant-card:hover {
  transform: translateY(-10px); /* Move the card up a little on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a shadow for a pop-out effect */
}

.ant-card-cover img {
  height: 200px; /* Fixed image height */
  object-fit: cover;
}

.ant-card-meta-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-card-meta-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
}
