.user-menu {
  background: linear-gradient(135deg, #7b3f00, #d79a00);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.menu-link {
  color: white;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.menu-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(10px);
}

.menu-link.active {
  background-color: rgba(255, 255, 255, 0.4);
  transform: translateX(10px);
}
